.wrappers-Child {
    background-color:coral;
    box-shadow: 1px 2px;
    padding-top: 6px;
    width: 80px;
    border-color: azure;
    border: 1px solid;
    text-align: center;
    margin: 20px;
}
#Child{
    background-color:coral;
    box-shadow: 1px 2px;
    padding-top: 6px;
    width: 80px;
    border-color: azure;
    border: 1px solid;
    text-align: center;
    margin: 20px;
 
 border-radius: 20px;
}